# Importing Libraries and getting the soup ready

In [2]:
from bs4 import BeautifulSoup
import requests
import os

source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source , 'lxml')

## Here ,  I am getting the table scrapped from the website

In [3]:

table = soup.find('table' , class_ = 'wikitable sortable')

# Getting the table sorted and stored in a .csv file

In [4]:

table_data = ''
for row in table.find_all('tr'):
    temp= ''
    for data in row.find_all('td'):
        temp= temp + ',' + data.text
    table_data = table_data + '\n' + temp[1:]
        
      
a=0 
header = 'Postcode , Borough , Neighborhood' + '\n'
file = open(os.path.expanduser('CP.csv') , 'wb')
file.write(bytes(header, encoding = 'ascii' , errors = 'ignore'))
file.write(bytes(table_data , encoding = 'ascii' , errors = 'ignore'))

9027

# Reading the file

In [5]:
import pandas as pd
df = pd.read_csv('CP.csv')

df.head()

  Postcode           Borough       Neighborhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront

In [6]:
df.rename(columns = {'Postcode ' : 'PostalCode' ,  ' Neighborhood' : 'Neighborhood' , ' Borough ' : 'Borough'} , inplace  = True)

In [7]:
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

# Removing the 'Not assigned' values

In [9]:
df1 = df[df.Borough != 'Not assigned']

In [38]:
df3 = df1.copy()

# Joining the rows with common Postal Code and it's respective Neighborhood with comma

In [49]:
df3 = df3.groupby(['PostalCode' , 'Borough'])
df3 = df3['Neighborhood'].apply(', '.join).reset_index()

In [48]:
df3.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [50]:
df3.shape

(103, 3)